# PHP-EXEs
*exe

# PHP-Dll
*.dll

# PHP license / new etc. files
*.txt

# PHP-Folders
/dev
/ext
/extras
/lib
phar.phar.bat
pharcommand.phar
php.ini-development
php.ini-production
php8embed.lib
README.md
